<!-- <h1>Angular App</h1>

<app-navbar></app-navbar>
<app-post [fromParent]="parentMessage" (messageEvent)="receiveMessage($event)"></app-post>

<p>{{ message }}</p>
<p> {{ fromChildOutput }} </p>

<p [class.text-red]="textIsRed"> Class Binding </p>
<p [style.color]="textIsRed ? 'red' : 'blue'">Style Binding</p>
<button (click)="eventBindingClick()">Click Me</button>

<input type="text" (keyup)="eventKeyup($event)" placeholder="eventKeyup">
<span>{{ inputText }}</span>

<input type="text" (keyup.enter)="eventFiltering()" placeholder="eventFiltering">

<input type="text" (keyup.enter)="eventFilteringUsername(username.value)" #username placeholder="eventFilteringUsername">

<input type="text" [(ngModel)]="twoWayDataBindingText" placeholder="twoWayDataBinding">
<span>{{ twoWayDataBindingText }}</span>

<img [src]="imgUrl" alt=""> -->

<!-- <div>
  <h1>*ngFor -> Structural Directive</h1>

  <button (click)="addNewNgFor()">Add New Data</button>

  <ul>
    <li *ngFor="let post of postArray">{{ post }}</li>
  </ul>

  <ul class="objArray">
    <li *ngFor="let post of objArray">
      <span>{{post.id}} - {{ post.postTitle }}</span>
      <button (click)="removeItemNgFor(post.id)">Delete</button>
    </li>
  </ul>
</div> -->

<div>
  <h1>*ngIf -> Structural Directive</h1>

  <button (click)="addNewNgIf()">Add New Data</button>

  <ul *ngIf="emptyArray.length > 0; else elseBlock" class="objArray">
    <li *ngFor="let post of emptyArray">
      <span>{{post.id}} - {{ post.postTitle }}</span>
      <button (click)="removeItemNgIf(post.id)">Delete</button>
    </li>
  </ul>

  <ng-template #elseBlock>
    <p>There is no data to fetch ...</p>
  </ng-template>
</div>
